<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <img src="profile.png" class="rounded-circle" width="150px" height="150px" />
      <h1>Vina Patricia</h1>
      <p>UI Designer | Student | FrontEnd Dev</p>
    </div>
  </div>
</div>